.footer {
    &__wrapper {
        background-color: $WC;
    }
    &__container {
        max-width: 386px;
        height: 100px;
        line-height: 100px;
        white-space: nowrap;
    }
    &__logo {
        position: relative;
        bottom: 2px;
        display: inline-block;
        margin-right: 35px;
        vertical-align: middle;
        font-size: 15px;
    }
    &__copyright-block {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        text-align: right;
    }
    &__copyright {
        font-weight: 300;
        font-size: 15px;
        color: $PC;
        line-height: 1.5;
        white-space: normal;
    }
}

@include tablet { 
    .footer {
        &__container {
            height: 60px;
            line-height: 60px;
        }
    }
}

@include mobile {
    .footer {
        &__container {
            text-align: center;
        }
        &__logo {
          margin-right: 8px;  
        }
        &__copyright {
            font-size: 12px;
        }
    }
 }