.header {
    &__wrapper {
        border-bottom: 1px solid $GRAYC;
    }
    &__container {
        display: flex;
        align-items: center;
        min-height: 90px;
        justify-content: space-between;
    }
    &__logo {
        border: none;
        text-decoration: none;
        width: 278px;
        margin-right: 8px;
    }
    &__menu {
        width: calc(100% - 582px);
        max-width: 433px;
        text-align: center;
    }
    &__auth {
        width: 304px;
        text-align: right;
    }
    &__reg-link {
        display: inline-block;
        margin-right: 30px;
        -webkit-appearance: none;
        border: none;
        text-decoration: none;
        color: $PC;
    }
}
.logo {
    display: block;
    width: 278px;
    height: 25px;
    background: url(../images/logo.svg) no-repeat center;
    background-size: cover;
}
@include medium {
    .header {
        &__auth {

        }
        &__reg-link {
            margin-right: 8px;
        }
     }
}

