.header {
    &__wrapper {
        border-bottom: 1px solid $GRAYC;
    }
    &__container {
        text-align: justify;
        height: 90px;
        line-height: 90px;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    &__logo, &__menu, &__auth {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
    }
    &__logo {
        border: none;
        text-decoration: none;
        width: 278px;
        margin-right: 8px;
    }
    &__menu {
        width: 100%;
        max-width: 451px;
    }
    &__auth {
        text-align: right;
    }
    &__reg-link {
        display: inline-block;
        margin-right: 30px;
        line-height: 1.5;
        -webkit-appearance: none;
        border: none;
        text-decoration: none;
        color: $PC;
    }
}
.logo {
    display: block;
    width: 278px;
    height: 25px;
    background: url(../images/logo-1.svg) no-repeat center;
    background-size: cover;
}
@include medium {
    .header {
        &__menu {
            max-width: 398px; 
        }
        &__reg-link {
            margin-right: 8px;
        }
     }
}

