.ic-health {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url(../images/icons/ic-health.svg) no-repeat center;
    background-size: contain;     
}

.ic-home {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url(../images/icons/ic-health.svg) no-repeat center;
    background-size: contain;    
}

.ic-education {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url(../images/icons/ic-education.svg) no-repeat center;
    background-size: contain;    
}

.ic-investment {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url(../images/icons/ic-investment.svg) no-repeat center;
    background-size: contain;    
}

.ic-pay-npf {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url(../images/icons/ic-pay-npf.svg) no-repeat center;
    background-size: contain;    
}

.ic-iis {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url(../images/icons/ic-iis.svg) no-repeat center;
    background-size: contain;    
}