.ic-health {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url($IMAGES_PATH + 'icons/ic-health.svg') no-repeat center;
    background-size: contain;     
}

.ic-home {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url($IMAGES_PATH + 'icons/ic-health.svg') no-repeat center;
    background-size: contain;    
}

.ic-education {
    display: inline-block;
    width: 76px;
    height: 61px;
    background: url($IMAGES_PATH + 'icons/ic-education.svg') no-repeat center;
    background-size: contain;    
}

.ic-investment {
    display: inline-block;
    width: 61px;
    height: 55px;
    background: url($IMAGES_PATH + 'icons/ic-investment.svg') no-repeat center;
    background-size: contain;    
}

.ic-pay-npf {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url($IMAGES_PATH + 'icons/ic-pay-npf.svg') no-repeat center;
    background-size: contain;    
}

.ic-iis {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url($IMAGES_PATH + 'icons/ic-iis.svg') no-repeat center;
    background-size: contain;    
}

.ic-scan {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url($IMAGES_PATH + 'icons/ic-scan.svg') no-repeat center;
    background-size: contain;
}

.ic-ndfl {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url($IMAGES_PATH + 'icons/ic-ndfl.svg') no-repeat center;
    background-size: contain;
}

.ic-lk {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url($IMAGES_PATH + 'icons/ic-lk.svg') no-repeat center;
    background-size: contain;
}

.ic-find {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url($IMAGES_PATH + 'icons/ic-find.svg') no-repeat center;
    background-size: contain;
}

.ic-esign {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url($IMAGES_PATH + 'icons/ic-esign.svg') no-repeat center;
    background-size: contain;
}

.ic-coins {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url($IMAGES_PATH + 'icons/ic-coins.svg') no-repeat center;
    background-size: contain;
}
