.section-cta {
    background: url($IMAGES_PATH + 'cta-bg.jpg') no-repeat center;
    background-size: cover;
    &__wrapper {
        max-width: 943px;
        padding-top: 56px;
        padding-bottom: 47px;
        min-height: 250px;
    }
    &__container {
        box-sizing: border-box;
        font-size: 0;
        text-align: justify;
        max-width: 878px;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    &__item-left, &__item-right {
        display: inline-block;
        vertical-align: middle;
    }
    &__item-left {
        width: 100%;
        max-width: 472px;
        margin-right: 16px
    }
    &__item-right {
        width: 100%;
        max-width: 280px;
    }
    &__title {
        font-size: 46px;
        font-weight: 400;
        letter-spacing: 1.2px;
        margin-bottom: 15px;
        line-height: 1;
    }
    &__title, &__text {
        color: $WC;
        text-align: left;
    } 
    &__text {
        line-height: 1.2;
        font-size: 18px;
        font-weight: 300;
    }
}
.cta-form {
    font-size: 15px;
    &__input, &__submit {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }
    &__input-block {
        margin-bottom: 20px;
    }
    &__input {
        background-color: #ffffff;
        border: solid 1px #bbbbbb;
        border-width: 1px 1px .25px 1px;
        -webkit-appearance: none;
        height: 38px;
        line-height: 38px;
        font-weight: 300;
        padding: 0 11px 0 15px;
        &:first-child {
            border-radius: 5px 5px 0 0;
            border-width: 1px 1px 0 1px;
        }
        &:last-child {
            border-radius: 0 0 5px 5px;
            border-width: 1px 1px 1px 1px;
        }
    }
}
@include medium-sm { 
    .section-cta {
        &__item-left {
            margin-bottom: 15px;
            max-width: 445px;
        }
    }
}

@include mobile { 
    .section-cta {
        &__container, &__title, &__text {
            text-align: center;
        }
        &__item-left {
            max-width: 100%;
            margin-right: 0;
        }

    }
}