.section-service-list {
    background-color: #ededed;
    padding-top: 78px;
    padding-bottom: 98px;
    &__title {
        text-align: center;
        color: $PC;
        margin-bottom: 47px;
        font-weight: 600;
    }

}
@include mobile {
    .section-service-list {
        padding-top: 48px;
        padding-bottom: 48px;
        &__title {
            font-size: 28px;
        } 
    }
}