.section-title-screen {
    padding-top: 52px;
    padding-bottom: 82px;
    &__title {
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 86px;
      font-size: 26px;
      line-height: 1.6;
      max-width: 631px;
    }
    &__button-block {
      width: 100%;
      max-width: 670px;
      text-align: justify;
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }
    }
    &__button {
      font-size: 20px;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__grid {
      display: flex;
    }
    &__ndfl {
      padding-top: 119px;
      float: left;
      @supports (display: flex) {
        float: none;
        width: calc(100% - 689px);
      }
      padding-right: 9px;
    }
    &__hero-pic {
      width: 680px;
    }
}



  @include medium {
    .section-title-screen {
        &__grid {
            align-items: center;
        }
        &__ndfl {
            padding-top: 0;
            width: 50%;
        }
        &__hero-pic {
            width: 50%;
        }
        &__button-block {
            display: block;
        }
        &__button {
            margin-bottom: 20px;
        }
    }
  }